<!--评价-->
<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="form-group">
            <label>请输入评价：</label>
            <textarea class="form-control" rows="5" placeholder="请输入评价" ng-model="content"></textarea>
            <!--<input type="text" class="form-control" placeholder="请输入评价" ng-model="content">-->
        </div>
        <div class="checkbox m-t-lg">

            <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
                <strong>确定</strong></button>
        </div>
    </div>
</div>