<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <label class="control-label">忘记密码</label>
                </div>
                <div class="panel-body">
                    <form name="myForm" class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-sm-3 control-label text-right">联系电话</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="tel" name="tel"  autocomplete="off" ng-pattern="/^1[3|5][0-9]\d{4,8}$/" ng-minlength="11" ng-maxlength="11" ng-model="data.tel" class="form-control" placeholder="请输入11位手机号">
                                    <div class="alert alert-danger help-block" ng-show="myForm.tel.$error.maxlength">
                                        手机号不能小于11位
                                    </div>
                                    <div class="alert alert-danger help-block" ng-show="myForm.tel.$error.minlength">
                                        手机号不能小于11位
                                    </div>
                                    <div class="alert alert-danger help-block" ng-show="myForm.tel.$error.pattern">
                                        手机号格式不正确
                                    </div>
                                    <span class="input-group-btn">
                                 <button class="btn btn-default" type="button">发送验证</button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label text-right">验证码</label>
                            <div class="col-sm-9">
                                <input type="tel" name="testing"  autocomplete="off" maxlength="6" ng-required="true" ng-pattern="\d{6}" ng-model="data.testing" class="form-control" placeholder="请输入验证码">
                                <div class="alert alert-danger help-block" ng-show="myForm.username.$dirty && myForm.testing.$error.pattern">
                                    验证码只能为数字
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label text-right">新密码</label>
                            <div class="col-sm-9">
                                <input type="password" name="password"  autocomplete="off" ng-required="true"  ng-minlength="6" ng-maxlength="16" ng-model="data.password" class="form-control" placeholder="请输入密码">
                                <div class="alert alert-danger help-block" ng-show="myForm.password.$error.maxlength">
                                    密码长度不能大于16位
                                </div>
                                <div class="alert alert-danger help-block" ng-show="myForm.password.$error.minlength">
                                    密码长度不能小于6位
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label text-right">确认密码</label>
                            <div class="col-sm-9">
                                <input type="password" name="passwordConfirm"  autocomplete="off" ng-model="data.passwordConfirm" class="form-control" placeholder="请确认密码">
                                <div class="alert alert-danger help-block" ng-show="myForm.password.$dirty && myForm.passwordConfirm.$dirty && data.password !== data.passwordConfirm">
                                    密码输入不一致
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center" ui-sref="access.signin">
                            <button class="btn btn-success btn-addon btn-lg">确定</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>