<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Js/bootstrap/bootstrap.css">
</head>
<body>
<div class="container" ng-controller="cartController">
    <table class="table">
        <thead>
        <tr>
            <th>xuhao</th>
            <th>xingming</th>
            <th>dianhua</th>
            <th>zhuangtai</th>
            <th>caozuo</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart">
            <th ng-bind="$index +1"></th>
            <th ng-bind="item.userName"></th>
            <th ng-bind="item.cellPhone"></th>
            <th ng-bind="item.statusName"></th>
            <th>
                <button class="btn btn-success" ng-show="item.status == 1" ng-click="qy(item.id)">启用</button>
                <button class="btn btn-danger" ng-show="item.status == 0" ng-click="jy(item.id)">停用</button>
                <button class="btn btn-danger" ng-click="del(item.id)">删除</button>
                <button class="btn btn-info" ng-click="see(item.id)">查看</button>
            </th>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    新增
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-9">
                                <input type="text" class="input-sm" ng-model="userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >电话：</label>
                            <div class="col-sm-9">
                                <input type="tel" class="input-sm" ng-model="cellPhone">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-success" ng-click="name()">新增</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    编辑
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-9">
                                <input type="text" class="input-sm" ng-model="new.userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电话：</label>
                            <div class="col-sm-9">
                                <input type="tel" class="input-sm" ng-model="new.cellPhone">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-success" ng-click="bianji()">编辑</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="angular.min-1.5.8.js"></script>
<script src="Js/angular/angular-animate.min.js"></script>
<script src="Js/angular/angular-sanitize.js"></script>
<script src="Js/angular/ui-bootstrap-tpls.js"></script>
<script src="hands.js" charset="utf-8"></script>
</html>