<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="m-t-none m-b font-thin">修改密码</h3>
            <form name="myForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group "  ng-class="{'has-error':myForm.oldpassword.$dirty && myForm.oldpassword.$invalid}">
                        <label class="col-sm-3 control-label text-right">旧密码：</label>
                        <div class="col-sm-9">
                            <input type="password" autocomplete="off" name="oldpassword" ng-required="true" ng-minlength="5"
                                   ng-maxlength="30" ng-model="oldpassword"
                                   class="form-control" placeholder="请输入旧密码">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':myForm.password.$dirty && myForm.password.$invalid}">
                        <label class="col-sm-3 control-label">新密码：</label>
                        <div class="col-sm-9 ">
                            <input type="password" name="password"  autocomplete="off" ng-required="true"  ng-minlength="5" ng-maxlength="30" ng-model="password" class="form-control" placeholder="请输入新密码">
                            <div class="alert alert-danger help-block" ng-show="myForm.password.$error.maxlength">
                                密码长度不能大于30位
                            </div>
                            <div class="alert alert-danger help-block" ng-show="myForm.password.$error.minlength">
                                密码长度不能小于5位
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':myForm.passwordConfirm.$dirty && myForm.passwordConfirm.$invalid}">
                        <label class="col-sm-3 control-label">确认密码：</label>
                        <div class="col-sm-9 ">
                            <input type="password" name="passwordConfirm" autocomplete="off" ng-model="passwordConfirm" class="form-control" placeholder="请确认密码">
                            <!--ng-show中去对比二次输入的密码-->
                            <div class="alert alert-danger help-block" ng-show="myForm.password.$dirty && myForm.passwordConfirm.$dirty && password !== passwordConfirm">
                                二次密码输入不一致
                            </div>
                        </div>
                    </div>
                    <div class="text-danger wrapper text-center" ng-show="authError">
                        {{authError}}
                    </div>
                </div>
                <div class="checkbox m-t-lg">
                    <button type="submit" class="btn btn-md btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
                        <strong>确定</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>