  <div class="col" ng-controller="bringList">
    <!-- model header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">过期招聘</h1>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table m-b-none">
            <thead>
            <tr>
              <th>序号</th>
              <th>招聘岗位</th>
              <th>工资薪酬</th>
              <th>结算方式</th>
              <th>过期时间</th>
              <th>联系人</th>
              <th>联系电话</th>
              <th>工作地址</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="y in jobprohibit">
              <td ng-bind="$index+1"></td>
              <td ng-bind="y.positionModel.name"></td>
              <td ng-bind="y.salary + y.salaryTypeName"></td>
              <td ng-bind="y.settlementTypeName"></td>
              <td ng-bind="y.jobEndTime"></td>
              <td ng-bind="y.contractPerson"></td>
              <td ng-bind="y.contractPhone"></td>
              <td ng-bind="y.jobAddress"></td>
              <td>
                <a href class="btn btn-success font-bold m" ng-click="Click(y.id)">查看详细</a>
              </td>
            </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
              <td colspan="10" class="text-center">
                <ul class="pagination"></ul>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>