<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="talensCtrl">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">人才库</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="wrapper-md">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="15">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>联系电话</th>
                                <th>最近入职时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in interList | filter:filterNull">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="x.appUserModel.name"></td>
                                <td ng-bind="x.appUserModel.userModel.cellPhone"></td>
                                <td ng-bind="x.appUserModel.userModel.lastLoginTime"></td>
                                <td>
                                    <button class="btn  btn-sm btn-success btn-addon" ng-click="evaluate(x.userId,x.recruitId)"><i class="icon icon-grid"></i>查看评价
                                    </button>
                                    <button class="btn  btn-sm btn-danger btn-addon" ng-click="del(x)"><i class="glyphicon  glyphicon-remove"></i>删除
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row ">
                            <div class="col-sm-12">
                                <tm-pagination conf="paginationConf" class="paginationGid text-center"></tm-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>