<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="" ng-controller="warehouse1">
    <!-- model -->
    <div class="col">
        <!-- model header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">招聘库</h1>
                </div>
            </div>
        </div>
        <!-- / model header -->
        <div class="wrapper-md">
            <tabset class="tab-container">
                <tab>
                    <tab-heading>
                        申请状态
                    </tab-heading>
                    <div class="wrapper-md">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="15">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>标题</th>
                                        <th>岗位名称</th>
                                        <th>姓名</th>
                                        <th>联系电话</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="y in interList">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="y.recruitModel.title"></td>
                                        <td ng-bind="y.recruitModel.positionModel.name"></td>
                                        <td ng-bind="y.appUserModel.name"></td>
                                        <td ng-bind="y.appUserModel.userModel.cellPhone"></td>
                                        <td ng-bind="y.statusName"></td>
                                        <td>
                                            <button class="btn  btn-sm btn-success btn-addon" ng-click="invite(y)"><i class="icon icon-cursor"></i>邀请面试</button>
                                            <button class="btn  btn-sm btn-danger btn-addon" ng-click="refuse(y)"><i class="fa fa-unlock-alt"></i>拒绝面试</button>
                                            <button class="btn  btn-sm btn-info btn-addon"  ng-click="minute(y.userId,y.recruitId)"><i class="icon icon-grid"></i>详细</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row ">
                                <div class="col-sm-12">
                                    <tm-pagination conf="paginationConf" class="paginationGid"></tm-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                <tab-heading>
                    面试状态
                </tab-heading>
                <div class="wrapper-md">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="15">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>标题</th>
                                    <th>岗位名称</th>
                                    <th>姓名</th>
                                    <th>联系电话</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in auditionList">
                                    <td ng-bind="$index+1"></td>
                                    <td ng-bind="x.recruitModel.title"></td>
                                    <td ng-bind="x.recruitModel.positionModel.name"></td>
                                    <td ng-bind="x.appUserModel.name"></td>
                                    <td ng-bind="x.appUserModel.userModel.cellPhone"></td>
                                    <td ng-bind="x.statusName"></td>
                                    <td>
                                        <button class="btn  btn-sm btn-danger btn-addon" ng-click="abolishDel(x)"><i class="icon icon-action-undo"></i>取消邀请</button>
                                        <button class="btn  btn-sm btn-success btn-addon" ng-click="entry(x)"><i class="icon icon-cursor"></i>邀请入职</button>
                                        <button class="btn  btn-sm btn-danger btn-addon" ng-click="decline(x)"><i class="fa fa-unlock-alt"></i>拒绝入职</button>
                                        <button class="btn  btn-sm btn-info btn-addon" ng-click="minute(x.userId,x.recruitId)"><i class="icon icon-grid"></i>详细</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row ">
                            <div class="col-sm-12">
                                <tm-pagination conf="disabledConf" class="paginationGid"></tm-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
                <tab>
                    <tab-heading>
                        入职状态
                    </tab-heading>
                    <div class="wrapper-md">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="15">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>标题</th>
                                        <th>岗位名称</th>
                                        <th>姓名</th>
                                        <th>联系电话</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="z in checkinList | filter:filterNull">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="z.recruitModel.title"></td>
                                        <td ng-bind="z.recruitModel.positionModel.name"></td>
                                        <td ng-bind="z.appUserModel.name"></td>
                                        <td ng-bind="z.appUserModel.userModel.cellPhone"></td>
                                        <td ng-bind="z.statusName"></td>
                                        <td>
                                            <button class="btn  btn-sm btn-success btn-addon" ng-click="assess(z)"><i class="icon icon-pencil"></i>待评价</button>
                                            <button class="btn  btn-sm btn-info btn-addon" ng-click="minute(z.userId,z.recruitId)"><i class="icon icon-grid"></i>详细</button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="z in checkList | filter:filterNull">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="z.recruitModel.title"></td>
                                        <td ng-bind="z.recruitModel.positionModel.name"></td>
                                        <td ng-bind="z.appUserModel.name"></td>
                                        <td ng-bind="z.appUserModel.userModel.cellPhone"></td>
                                        <td ng-bind="z.statusName"></td>
                                        <td>
                                            <button class="btn  btn-sm btn-danger btn-addon" ng-click="rescind(z)"><i class="icon icon-action-undo"></i>取消邀请</button>
                                            <button class="btn  btn-sm btn-info btn-addon" ng-click="minute(z.userId,z.recruitId)"><i class="icon icon-grid"></i>详细</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row ">
                                <div class="col-sm-12" style="float: left">
                                    <tm-pagination conf="assessConf" class="paginationGid"></tm-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>